<link href="https://bootswatch.com/4/darkly/bootstrap.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">
                              <div class= "row show-hide-message container">
                                <div [ngClass] ="messageClass" >
                                  {{message}}
                                </div>
                              </div>
                                <form class="form-horizontal" (submit)="onRegisterSubmit()" [formGroup]="form">

                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group" [ngClass] = "{'has-error': (form.controls.name.errors)&&(form.controls.name.dirty),'has-success': !form.controls.name.errors}">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" formControlName="name"/>
                                                <ul class="help-block">
                                                  <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">
                                                      Name is required
                                                  </li>
                                                  <li *ngIf="(form.controls.name.errors?.minlength || form.controls.name.errors?.maxlength) && form.controls.name.dirty">
                                                    Minimum length: 3  Maximum length: 20
                                                </li>


                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group" [ngClass] = "{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty) ,'has-success': !form.controls.email.errors && emailValid}">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" formControlName="email" (blur)= "checkEmail()"/>
                                                <ul class="help-block">
                                                <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">
                                                      Email is required
                                                </li>
                                                <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) && form.controls.email.dirty">
                                                  Minimum length: 5  Maximum length: 30
                                              </li>
                                              <li *ngIf ="form.controls.email.errors?.validateEmail && form.controls.email.dirty">
                                                  Must be a valid email
                                              </li>
                                              <li *ngIf = "emailMessage">
                                                {{emailMessage}}
                                              </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="cols-sm-2 control-label">Username</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group" [ngClass] = "{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty),'has-success': !form.controls.username.errors && usernameValid}">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" formControlName="username" (blur) = "checkUsername()"/>
                                                <ul class="help-block">
                                                  <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
                                                      Username is required
                                                </li>
                                                <li *ngIf="(form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength) && form.controls.username.dirty">
                                                  Minimum length: 5  Maximum length: 10
                                              </li>
                                              <li *ngIf ="form.controls.username.errors?.validateUsername && form.controls.username.dirty">
                                                  Must be a valid username
                                              </li>
                                              <li *ngIf = "usernameMessage">
                                                  {{usernameMessage}}
                                              </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group" [ngClass] = "{'has-error': (form.controls.password.errors)&&(form.controls.password.dirty),'has-success': !form.controls.password.errors}">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" formControlName="password" />
                                                <ul class="help-block">
                                                  <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
                                                      Password is required
                                                </li>
                                                <li *ngIf="(form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength)&&form.controls.password.dirty">
                                                  Minimum length: 8  Maximum length: 20
                                              </li>
                                              <li *ngIf="form.controls.password.errors?.validatePassword &&form.controls.password.dirty">
                                                1 Uppercase 1 Lowercase 1 SpecialCharectors 1 Number
                                            </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group" [ngClass] = "{'has-error': (form.controls.confirm.errors)&&(form.controls.confirm.dirty),'has-success': !form.controls.confirm.errors}">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" formControlName="confirm"/>
                                                <ul class="help-block">
                                                  <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">
                                                      This Field is required.
                                                </li>
                                                <li *ngIf = "form.errors?.matchPassword && form.controls.confirm.dirty">
                                                  Password do not match.
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <button type="submit" [disabled] = "!form.valid || processing || !usernameValid || !emailValid"class="btn btn-primary btn-lg btn-block login-button" >Register</button>
                                    </div>
                                    <div class="login-register">
                                          <button type="button" class="btn btn-primary btn-lg btn-block login-button" routerLink='/signin'>Login</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
 </div>
  <!-- <p>Name : {{form.controls.name.value}}</p>
        <p>Username : {{form.controls.username.value}}</p>
        <p>Email : {{form.controls.email.value}}</p>  -->
